<div class="container">
  <section>
    <div class="section-container">
      <img class="picture pic-border-all" src="assets/img/me.jpg" alt="" />
      <span class="header accent-clr">Hi! My name is Avirup.</span>
      <br />
      <span>Welcome to my Github Pages.</span>
      <span>In this web app you will find most of the important details of my career and academics.</span>
      <span class="desktop-only">This is a PWA app. Feel free to experience it on your mobile devices.</span>
      <span class="mobile-only"
        >Change the theme, swipe right and left to navigate, pull the banner to the bottom but more importantly enjoy
        while you are here.</span
      >
    </div>
    <div class="section-container desktop-only">
      <br /><br />
      <span class="header accent-clr">Who am I?</span>
      <span class="header accent-clr">A UI Developer</span>
      <br />
      <span
        >Also, a dynamic professional with 3.5+ years of experience in the IT industry. I have expertise in Angular,
        Karma Unit Testing, Spring MVC, HTML, CSS/SCSS, Javascript and Oracle PL/SQL. I am a dedicated professional who
        is objective oriented and shows good leadership, communication skills, analytical ability and reasoning and
        problem-solving skills.
      </span>
    </div>
  </section>
  <section class="snap-to mobile-only">
    <div class="section-container">
      <span class="header accent-clr">Who am I?</span>
      <span class="header accent-clr">A UI Developer</span>
      <br />
      <span
        >Also, a dynamic professional with 3.5+ years of experience in the IT industry. I have expertise in Angular,
        Karma Unit Testing, Spring MVC, HTML, CSS/SCSS, Javascript and Oracle PL/SQL. I am a dedicated professional who
        is objective oriented and shows good leadership, communication skills, analytical ability and reasoning and
        problem-solving skills.
      </span>
    </div>
  </section>
</div>
