.nav-bar {
  position: fixed;
  left: 0;
  top: 3.5rem;
  height: calc(100% - 3.5rem);
  width: 4rem;
  display: flex;
  flex-direction: column;
  transition: left 0.25s ease-out 0.15s;
  padding: 0.5rem 0;
  z-index: 2;
  &.shadow {
    box-shadow: 0px 10px 8px 2px #949494;
  }
  &.down {
    top: 0;
  }
  .nav-link {
    margin: 1rem auto;
    background-color: transparent;
    border: 0;
    padding: 0;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    position: relative;
    &:hover {
      .tooltip {
        display: block;
      }
    }
    &:focus,
    &:active,
    &.active {
      outline: none;
      cursor: initial;
      .tooltip {
        display: none;
      }
    }
    .tooltip {
      position: absolute;
      top: 0.25rem;
      left: calc(100% + 0.25rem);
      display: none;
      padding: 0.25rem 0.5rem;
      border-radius: 4px;
      background-color: rgba(58, 58, 58, 0.85);
      color: rgb(231, 231, 231);
      z-index: 9;
      white-space: nowrap;
    }
    mat-icon {
      height: 100%;
      width: 100%;
      font-size: 2rem;
    }
  }

  .nav-link.themes {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    .themes-container {
      height: 8rem;
      width: 8rem;
      transform: translateX(-50%) scale(0);
      opacity: 0;
      transform-origin: bottom;
      will-change: transform;
      position: absolute;
      transition: all 0.3s cubic-bezier(0.6, -0.2, 0.735, 0.045);
      bottom: 0;
      border-radius: 4px;
      overflow: hidden;
      cursor: auto;
      .themes {
        position: absolute;
        width: 8rem;
        height: 8rem;
        bottom: 0;
        left: 0;
        display: flex;
        flex-wrap: wrap;
        .theme {
          width: 3rem;
          height: 3rem;
          margin: 0.5rem;
          background-color: red;
          border-radius: 50%;
          overflow: hidden;
          border: solid 0.3rem #111111;
          display: flex;
          overflow: hidden;
          transform: rotateZ(45deg);
          cursor: pointer;
          opacity: 0.3;
          &.active {
            opacity: 1;
          }
          .color {
            width: 1.5rem;
            height: 3rem;
          }
          &.light {
            border: solid 0.3rem #f0f0f0;
          }
        }
      }
    }
    &:focus {
      .themes-container {
        opacity: 1;
        transform: translateX(50%) scale(1);
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .nav-bar {
    left: 100%;
    transition: left 0.15s linear 0s;
    box-shadow: none;
    .nav-link {
      .tooltip {
        display: none !important;
      }
      &.themes {
        .themes-container {
          transform: translateX(0%) scale(0);
          opacity: 0;
        }
        &:focus {
          .themes-container {
            transform: translateX(-9.5rem) scale(1);
            opacity: 1;
          }
        }
      }
    }
    &.open {
      left: calc(100% - 4rem);
    }
  }
}
