$config: (
  main-clr: #181818,
  primary-bg: #303f9f,
  primary-clr: #f3f3f3,
  overlay-bg: #c5c5c5,
  detail-bg: #e6e6e6,
  accent: #ec6491,
  green: #00e676,
  scroll-track: #c9c9c9
);

@use 'mixins/theme';

@include theme.boot($config);
