$config: (
  main-clr: #181818,
  primary-bg: #6a1b9a,
  primary-clr: #f3f3f3,
  overlay-bg: #c0c0c0,
  detail-bg: #cfcfcf,
  accent: #ec4341,
  green: #00e676,
  scroll-track: #c9c9c9
);

@use 'mixins/theme';

@include theme.boot($config);
