<div
  class="container"
  (swipeleft)="swipeNavigate.onSwipeLeft($event)"
  (swiperight)="swipeNavigate.onSwipeRight($event)"
>
  <section>
    <span class="header accent-clr">Details</span>
    <div class="detail detail-bg">
      <i class="fas fa-user-tie icon detail-icon-clr" aria-hidden="true"></i>
      <span>{{ details.name }}</span>
    </div>
    <div class="detail detail-bg">
      <mat-icon class="icon detail-icon-clr">email</mat-icon>
      <a class="link-ref" href="mailto:{{ details.email }}"
        >{{ details.email }} <mat-icon class="icon detail-icon-clr">launch</mat-icon></a
      >
    </div>
    <div class="detail detail-bg">
      <mat-icon class="icon detail-icon-clr">phone</mat-icon>
      <div class="lines">
        <a class="link-ref" [href]="phone.link" *ngFor="let phone of details.phone"
          >{{ phone.desc }} <mat-icon class="icon detail-icon-clr">launch</mat-icon></a
        >
      </div>
    </div>
    <div class="detail detail-bg">
      <mat-icon class="icon detail-icon-clr">person_pin</mat-icon>
      <div class="lines">
        <span *ngFor="let line of details.address">{{ line }}</span>
      </div>
    </div>
    <div class="detail detail-bg">
      <mat-icon class="icon detail-icon-clr">my_location</mat-icon>
      <span>{{ details.location }}</span>
    </div>
    <div class="detail detail-bg">
      <i class="fas fa-id-card icon detail-icon-clr" aria-hidden="true"></i>
      <span>{{ details.pan }}</span>
    </div>
    <div class="detail detail-bg" *ngFor="let social of details.socials">
      <i class="fab fa-{{ social.icon }} icon detail-icon-clr" aria-hidden="true"></i>
      <a class="link-ref" [href]="social.link" target="_blank"
        >{{ social.desc }} <mat-icon class="icon detail-icon-clr">launch</mat-icon></a
      >
    </div>
  </section>
  <section>
    <span class="header accent-clr">Languages</span>
    <div class="detail detail-bg" *ngFor="let language of details.languages">
      <span>{{ language.desc }}</span>
      <div class="ratings" [rating]="language.rating"></div>
    </div>
    <br />
    <span class="header accent-clr">Interests and Hobbies</span>
    <div class="detail detail-bg">
      <span>{{ details.hobbies }} </span>
    </div>
  </section>
</div>
