<div
  class="container"
  (swipeleft)="swipeNavigate.onSwipeLeft($event)"
  (swiperight)="swipeNavigate.onSwipeRight($event)"
>
  <section>
    <span class="header accent-clr">Academics</span>
    <div class="detail detail-bg">
      <div class="title accent-clr">
        <span>10th Standard</span>
        <div class="stop accent-bg"></div>
        <span>April, 2010</span>
        <div class="stop accent-bg"></div>
        <span>ICSE</span>
      </div>
      <div class="content">
        <span>Secured 90.6% - Science(92), Maths(92), English(88)</span>
        <span>Salt Lake School, Kolkata</span>
      </div>
    </div>
    <div class="detail detail-bg">
      <div class="title accent-clr">
        <span>12th Standard</span>
        <div class="stop accent-bg"></div>
        <span>April, 2012</span>
        <div class="stop accent-bg"></div>
        <span>ISC</span>
      </div>
      <div class="content">
        <span>Secured 90.6% - Computer Science(94), Maths(92), English(90)</span>
        <span>Salt Lake School, Kolkata</span>
      </div>
    </div>
    <div class="detail detail-bg">
      <div class="title accent-clr">
        <span>B. Tech.</span>
        <div class="stop accent-bg"></div>
        <span>June, 2016</span>
        <div class="stop accent-bg"></div>
        <span>WBUT(MAKAUT)</span>
      </div>
      <div class="content">
        <span>Secured DGPA 8.04 - Computer Science and Engineering</span>
        <span>Kalyani Government Engineering College, West Bengal</span>
      </div>
    </div>
  </section>
</div>
