<div
  class="container"
  (swipeleft)="swipeNavigate.onSwipeLeft($event)"
  (swiperight)="swipeNavigate.onSwipeRight($event)"
>
  <section>
    <span class="header accent-clr">Academics</span>
    <div class="detail detail-bg" *ngFor="let item of list">
      <div class="title accent-clr">
        <ng-container *ngFor="let title of item.title">
          <span>{{ title }}</span>
          <div class="stop accent-bg"></div>
        </ng-container>
      </div>
      <div class="content">
        <span *ngFor="let content of item.content">{{ content }}</span>
      </div>
    </div>
  </section>
</div>
